<div id="home">
   
  <div class="row">
    
    <div class="col-md-10">
      <form ng-submit="addMessage()">
        <table id="chatMessagesTable" class="table">
        <tr>
              <th class="col-sm-1">Time</th>
              <th class="col-sm-2">User</th>
              <th class="col-sm-7">Message</th>
          </tr>
        <tr ng-repeat="row in messageTable">
          <td>{{row.time}}</td>
          <td>{{row.user}}</td>
          <td>{{row.message}}</td>
        </tr>
        
        </table>
 
        <input type="text" id="messageInput" ng-model="inputMessage"/>

      </form>

    </div> 
      
    <div class="col-md-2">
      <table class="table">
        <tr>
          <th>Users</th>
        </tr>
        <tr ng-repeat="user in onlineUsers">
          <td>{{user}}</td>
        </tr>
        
      </table>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-offset-5 col-sm-2">
      <button ng-click="logout()" class="btn btn-primary btn-block">Exit</button>
    </div>
  </div>
 
</div>
