<div id="home">
   
  <div class="row">
    
    <div class="col-md-10">
        <table id="chatMessagesTable" class="table">
        <tr>
              <th class="col-sm-1">Time</th>
              <th class="col-sm-2">User</th>
              <th class="col-sm-7">Message</th>
          </tr>
        <tr>
          <td>10:53:08</td>
          <td>Johny</td>
          <td>Hi, just joined the chat</td>
        </tr>
        <tr>
          <td>10:55:54</td>
          <td>Karl</td>
          <td>Hello, welcome!</td>
        </tr>
        </table>
    </div> 
      
    <div class="col-md-2">
      <table class="table">
        <tr><td>Johny</td></tr>
        <tr><td>Karl</td></tr>
        <tr><td>Cristy</td></tr>
      </table>
    </div>

  </div>
      

  <div class="row">
    <div class="col-md-10">
      <input type="text" id="messageInput"/>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-offset-5 col-sm-2">
      <button ng-click="logout()" class="btn btn-primary btn-block">Exit</button>
    </div>
  </div>
 
</div>
